html, body {
	margin: 0px;
	padding: 0px;
}

#top {
	width: 100%;
	margin: none;
	height: 50px;
	display: inline-block;
}

#apps {
	height: 23px;
	width: 23px;
}

#top_holder {
	margin-left: 82.5%;
	margin-right: 15px;
	height: 50px;
	width: 250px;
	line-height: 60px;
}

#top_holder * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px 0 0;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: black;
	opacity: .75;
	text-decoration: none;
}

#sign {
	width: 70px;
	height: 30px;
	background-color: #4285f4;
	color: #fff;
	border: 0px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: bold;
	opacity: 1;
}

#middle {
width: 100%;
margin-top: 10.5%;
}

.middle_holder {
	height: 300px;
	width: 610px;
	margin: 100px auto 100px auto;
}

#logo {
	height: 92px;
	width: 272px;
	margin: 0 169px 25px 169px;
}

#middle input {
	height: 44px;
	width: 572px;
	margin: 0 15px 2px 17px;
	border: none;
	outline: medium-none;
	padding: 0 0 0 20px;
	font-size: 15px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

#middle input:hover, #middle input:active {
	box-shadow:  0px 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
} 

#mid_inside_holder {
	display: block;
	margin: 15px auto 10px auto;
	height: 70px;
	width: 284px;
}

.mid_button {
	width: 130px;
	height: 35px;
	margin: 17px 5px 5px auto;
	border: 1px;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
}

.mid_button:hover {
	border: 1px solid #c3c3c3;
	color: black;
	box-shadow: 0 0 1px 0 #e4e4e4;
}

#lucky {
	width: 140px;
}

#footer {
	position: relative;
	margin-bottom: 0px;
	margin-top: 15.9%;
	padding-bottom: 0px;
	height: 40px;
	width: full;
	background-color: #f2f2f2;
	border-top: 1px solid ;
	border-color: #e4e4e4;
	vertical-align: middle;
}

#footer p {
	font-family: arial, sans-serif;
	font-size: 13px;
	display: inline-block;
}

#footer a {
	color: #666;
	text-decoration: none;
}

#rightlink {
	height: 40px;
	width: 210px;
	display: inline-block;
	margin: 0px 0px 0px 65.5%;
}

#leftlink {
	height: 40px;
	width: 245px;
	display: inline-block;
	margin: 0px 0px 0px 30px;
}

#leftlink p {
	vertical-align: middle;
	margin-right: 27px;
}

#rightlink p {
	vertical-align: middle;
	margin-right: 25px;
}

#rightlink:nth-child(3) {
	margin-right: 0px;
}

#top a:hover {
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: underline;
}


