html, body {
	border: 0;
	margin: 0;
	background-color: green;
}

#toptop {
	height: 60px;
	width: full;
	background-color: #fafafa;
}

#toptopleft {
	height: 60px;
	width: 850px;
	background-color: red;
	line-height: 72px;
	display: inline-block;
}

#toptopleft * {
	display: inline;
	vertical-align: middle;
}

#toptopleft img {
	height: 44px;
	width: 140px;
	display: inline-block;
}

#search_bar {
	height: 44px;
	width: 572px;
	background-color: yellow;
}

#search_bar input {
	height: 44px;
	width: 572px;
	margin: 0 15px 2px 17px;
	border: none;
	outline: medium-none;
	padding: 0 0 0 20px;
	font-size: 15px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

#search {
	height: 44px;
	width: 44px;
}

#magnify {
	height: 30px;
	width: 30px;
}

#toptopright {
	height: 60px;
	width: 170px;
	background-color: blue;
	display: inline-block;
}

#toptopright img {
	height: 23px;
	width: 23px;
}


