html, body {
	border: 0;
	margin: 0;
}

#toptop {
	height: 80px;
	background-color: #fafafa;
}

#toptopleft {
	height: 80px;
	width: 850px;
	line-height: 80px;
	display: inline-block;
}

#toptopleft * {
	display: inline;
	vertical-align: middle;
}

#toptopleft img {
	height: 40px;
	width: 120px;
	margin: 0 10px 0 15px;
	display: inline-block;
}

#search_bar {
	height: 45px;
	width: 630px;
	background-color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	line-height: 44px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

#search_bar input {
	height: 40px;
	width: 549px;
	padding: 0 0 0 20px;
	border: none;
	font-size: 15px;
}

#search {
	height: 44px;
	width: 55px;
	display: inline-block;
	margin: 0px;
	background-color: #ffffff;
	box-shadow: none;
	border: none;
}

#search img {
	height: 25px;
	width: 25px;
	position: relative;
	left: -5px;
}

#toptopright {
	height: 80px;
	width: 170px;
	display: inline-block;
	line-height: 80px;
	margin-left: 28.88%;
}

#toptopright * {
	display: inline;
	vertical-align: middle;
}

#toptopright img {
	height: 23px;
	width: 23px;
}

#apps {
	height: 23px;
	width: 23px;
	vertical-align: middle;
	margin: 5px 10px 0 30px;
}

#sign {
	width: 70px;
	height: 30px;
	margin: 5px 10px 0 5px;
	background-color: #4285f4;
	color: #fff;
	border: 0px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: bold;
	opacity: 1;
	vertical-align: middle;
}

#topbottom {
	height: 60px;
	background-color: #fafafa;
	border-bottom: 1px solid;
	border-color: #eeeeee;
	margin: 0;
	position: relative;
	top: -16px;
}

#searchtype {
	width: 400px;
	line-height: 70px;
	position: relative;
	left: 147px;
	padding-left: 10px;
}

#searchtype p {
	display: inline;
	vertical-align: middle;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 0 12px 0 12px;
	color: #777;
}

#center {
	background-color: green;
	height: full;
}

#resultnos {
	font-family: arial, sans-serif;
	font-size: small;
	color: #808080;
	position: relative;
	top: -15px;
	left: 170px;
}

#resultsholder {
	width: 600;
	height: 1030px;
	position: relative;
	left: 170px;
	display: inline-block;
	vertical-align: top;
}

.result {
	height: 100px;
	width: 600px;
	background-color: #ffffff;
}

.result p {
	margin: 0px auto 0px auto;
}

.title {
	color: #1a0dab;
	font-family: arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.result a {
	text-decoration: none;
}


.address {
	color: #006621;
	font-size: 14px;
	line-height: 18px;
	font-family: arial, sans-serif;
}

.content {
	color: #545454;
	font-size: small;
	line-height: 18px;
	font-family: arial, sans-serif;
}

.suggested {
	color: #1a0dab;
	font-family: arial, sans-serif;
	font-size: small;
	line-height: 18px;
}

#infoholder {
	width: 454px;
	height: 530px;
	background-color: #ffffff;
	display: inline-block;
	position: relative;
	left: 220px;
}
